.button-box {
	width: 300px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.27)
}

.toggle-btn {
	padding: 10px 38.7px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: white;
	font-size: 16px;
    font-weight: bold;
	letter-spacing: 4px;
}

#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 150px;
	height: 100%;
	background: rgba(0, 0, 0, 0.74);
	border-radius: 30px;
	transition: .5s;
	justify-content: space-evenly;
}