.dashboard {
    max-width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right bottom,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3));
    border-radius: 2rem;
    z-index: 2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 117px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard img {
    width: auto;
    height: 200px;
    border-radius: 1000px;
}

.pro {
    background: linear-gradient(to right bottom, #ffc778a1, #000000a1);
    border-radius: 2rem;
    color: white;
    margin: 2rem 0rem;
    padding: 1rem;
    position: relative;
}

.pro h2 {
    font-size: 18px;
    color: white;
    font-weight: 50;
}

@media (max-width: 1500px) {
    .dashboard {
        margin-top: 100px;
        bottom: 0%;
        max-width: 100%;
    }
}

@media (max-width: 1190px) {
    .dashboard {
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        position: relative;
        right: none;
        bottom: none;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }
}